In [9]:

import movie_recommendation as mr
import recommendation_engine as re
import insurance_recommendation as ir
import rule_miner as rm
import form_nn
import datetime
import cold_start_recommender as csr

from insurance_recommendation import *

In [10]:
df, first_form_index = run_data_preprocessing_pipeline()

In [34]:
df.head()

,BusinessSegment_Naughton Amusement,BusinessSegment_Naughton Motorsports,Type_New,Type_Renewal,InsuredState_AL,InsuredState_AR,InsuredState_CA,InsuredState_CO,InsuredState_CT,InsuredState_FL,...,IL 12 01 11 85,CG 22 50 04 13,MEGL 1397 07 10,CG 02 05 12 04,CG 22 43 04 13,MEGL 0217 11 16,MEGL 0026 05 16,MEGL 2202 01 17,MEIL 1247 08 15,MIL 1214 09 17
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
import lime
import lime.lime_tabular

In [12]:
input_cols = ['BusinessSegment_Naughton Motorsports', 'Type_New', 'InsuredState_LA', 'BrokerCompany_Socius Insurance Services, Inc.', 'BrokerState_MO', 'UnderwriterTeam_Brokerage Casualty - SouthEast', 'BusinessClassification_53374 Food Products Mfg. - dry', 'Occurrence: Owners & Contractors Protective', 'Limit Damage to Premises Rented to You', 'Each Common Cause Liquor Liability', 'Other', 'Terrorism']
top_recommendation_by_fpg = 'MPIL 1083 04 15'

nn = form_nn.construct_nn(first_form_index, top_recommendation_by_fpg)
nn = form_nn.load_nn(nn)

In [13]:
input_vec = form_nn.column_names_to_vector(df, input_cols, first_form_index)

input_vec = np.array([input_vec])

In [14]:
prediction = nn.predict(input_vec)
print(prediction)
prediction = prediction[0][0]

def pred_func(inp):
    prediction = nn.predict(inp)
    return [1. - prediction[0][0], prediction[0][0]]

print(pred_func(input_vec))

[[0.6544431]]
[0.34555691480636597, 0.6544431]

In [15]:
class_output = [1 - prediction, prediction]
class_output

[0.34555691480636597, 0.6544431]

In [16]:
train_df = df[df.columns[:first_form_index].tolist()]

labels_df = df[top_recommendation_by_fpg]

feature_names = train_df.columns.tolist()

X = train_df.values
y = labels_df.values

In [17]:
type(train_df.values)

numpy.ndarray

In [30]:
# Train the explainer
explainer = lime.lime_tabular.LimeTabularExplainer(
    train_df.values, 
    feature_names=feature_names, 
    class_names=['False', 'True'], 
    kernel_width=3, 
    mode='classification')
# explainer = lime.lime_tabular.LimeTabularExplainer(train_df.values, feature_names=feature_names, class_names=['False', 'True'], categorical_features=feature_names, categorical_names=feature_names, kernel_width=3)

In [31]:
print(type(input_vec[0]))
# print(input_vec.T)
print(input_vec[0])
print(input_vec[0].shape)
print(type(input_vec))
# exp_in = input_vec
exp = explainer.explain_instance(input_vec, nn.predict, top_labels=1)

<class 'numpy.ndarray'>
[0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 1]
(202,)
<class 'numpy.ndarray'>

ValueError: could not broadcast input array from shape (202) into shape (1)